# Dependencies
**/node_modules/
/node_modules/

# Next.js Build Output
**/.next/
/.next/
**/out/
/out/

# Production Build Artifacts
**/.next-env.d.ts
/next-env.d.ts

# Lead Capture Local database
**/inquiries.json
/inquiries.json

# IDE and System Files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
